<style>#rec109079107 .t396__artboard {
  height: 5670px;
  background-color: #ffffff;
}

#rec109079107 .t396__filter {
  height: 5670px;
}

#rec109079107 .t396__carrier {
  height: 5670px;
  background-position: center center;
  background-attachment: scroll;
  background-image: url('https://static.tildacdn.com/tild6232-6138-4336-a538-363332323362/-/resize/20x/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1199px) {
  #rec109079107 .t396__artboard {}

  #rec109079107 .t396__filter {}

  #rec109079107 .t396__carrier {
    background-attachment: scroll;
  }
}

@media screen and (max-width: 959px) {
  #rec109079107 .t396__artboard {
    height: 6270px;
  }

  #rec109079107 .t396__filter {
    height: 6270px;
  }

  #rec109079107 .t396__carrier {
    height: 6270px;
  }
}

@media screen and (max-width: 639px) {
  #rec109079107 .t396__artboard {
    height: 5280px;
  }

  #rec109079107 .t396__filter {
    height: 5280px;
  }

  #rec109079107 .t396__carrier {
    height: 5280px;
  }
}

@media screen and (max-width: 479px) {
  #rec109079107 .t396__artboard {
    height: 3870px;
  }

  #rec109079107 .t396__filter {
    height: 3870px;
  }

  #rec109079107 .t396__carrier {
    height: 3870px;
  }
}

#rec109079107 .tn-elem[data-elem-id="1559858477391"] {
  z-index: 1;
  top: 221px;
  left: calc(50% - 600px + 590px);
  width: 610px;
}

#rec109079107 .tn-elem[data-elem-id="1559858477391"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width: 1199px) {
  #rec109079107 .tn-elem[data-elem-id="1559858477391"] {
    top: 209px;
    left: calc(50% - 480px + 550px);
    width: 400px;
  }
}

@media screen and (max-width: 959px) {
  #rec109079107 .tn-elem[data-elem-id="1559858477391"] {
    top: 378px;
    left: calc(50% - 320px + 90px);
    width: 420px;
  }
}

@media screen and (max-width: 639px) {
  #rec109079107 .tn-elem[data-elem-id="1559858477391"] {
    top: 329px;
    left: calc(50% - 240px + 50px);
  }
}

@media screen and (max-width: 479px) {
  #rec109079107 .tn-elem[data-elem-id="1559858477391"] {
    top: 249px;
    left: calc(50% - 160px + 40px);
    width: 240px;
  }
}

#rec109079107 .tn-elem[data-elem-id="1559858514289"] {
  z-index: 2;
  top: 941px;
  left: calc(50% - 600px + 20px);
  width: 600px;
}

#rec109079107 .tn-elem[data-elem-id="1559858514289"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width: 1199px) {
  #rec109079107 .tn-elem[data-elem-id="1559858514289"] {
    top: 721px;
    left: calc(50% - 480px + 10px);
    width: 480px;
  }
}

@media screen and (max-width: 959px) {
  #rec109079107 .tn-elem[data-elem-id="1559858514289"] {
    top: 1308px;
    left: calc(50% - 320px + 90px);
    width: 460px;
  }
}

@media screen and (max-width: 639px) {
  #rec109079107 .tn-elem[data-elem-id="1559858514289"] {
    top: 1143px;
    left: calc(50% - 240px + 10px);
  }
}

@media screen and (max-width: 479px) {
  #rec109079107 .tn-elem[data-elem-id="1559858514289"] {
    top: 998px;
    left: calc(50% - 160px + 10px);
    width: 300px;
  }
}

#rec109079107 .tn-elem[data-elem-id="1559858714179"] {
  z-index: 3;
  top: 2134px;
  left: calc(50% - 600px + 20px);
  width: 600px;
}

#rec109079107 .tn-elem[data-elem-id="1559858714179"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width: 1199px) {
  #rec109079107 .tn-elem[data-elem-id="1559858714179"] {
    top: 1721px;
    left: calc(50% - 480px + 20px);
    width: 470px;
  }
}

@media screen and (max-width: 959px) {
  #rec109079107 .tn-elem[data-elem-id="1559858714179"] {
    top: 2581px;
    left: calc(50% - 320px + 90px);
    width: 460px;
  }
}

@media screen and (max-width: 639px) {
  #rec109079107 .tn-elem[data-elem-id="1559858714179"] {
    top: 2354px;
    left: calc(50% - 240px + 11px);
    width: 460px;
  }
}

@media screen and (max-width: 479px) {
  #rec109079107 .tn-elem[data-elem-id="1559858714179"] {
    top: 1978px;
    left: calc(50% - 160px + 10px);
    width: 300px;
  }
}

#rec109079107 .tn-elem[data-elem-id="1559858843693"] {
  z-index: 4;
  top: 2903px;
  left: calc(50% - 600px + 146px);
  width: 300px;
}

#rec109079107 .tn-elem[data-elem-id="1559858843693"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width: 1199px) {
  #rec109079107 .tn-elem[data-elem-id="1559858843693"] {
    top: 2326px;
    left: calc(50% - 480px + 117px);
    width: 240px;
  }
}

@media screen and (max-width: 959px) {
  #rec109079107 .tn-elem[data-elem-id="1559858843693"] {
    top: 3146px;
    left: calc(50% - 320px + 73px);
    width: 160px;
  }
}

@media screen and (max-width: 639px) {
  #rec109079107 .tn-elem[data-elem-id="1559858843693"] {
    top: 2927px;
    left: calc(50% - 240px + 67px);
    width: 150px;
  }
}

@media screen and (max-width: 479px) {
  #rec109079107 .tn-elem[data-elem-id="1559858843693"] {
    top: 2339px;
    left: calc(50% - 160px + 57px);
    width: 110px;
  }
}

#rec109079107 .tn-elem[data-elem-id="1559858871550"] {
  z-index: 5;
  top: 2903px;
  left: calc(50% - 600px + -164px);
  width: 300px;
}

#rec109079107 .tn-elem[data-elem-id="1559858871550"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width: 1199px) {
  #rec109079107 .tn-elem[data-elem-id="1559858871550"] {
    top: 2326px;
    left: calc(50% - 480px + -123px);
    width: 240px;
  }
}

@media screen and (max-width: 959px) {
  #rec109079107 .tn-elem[data-elem-id="1559858871550"] {
    top: 3146px;
    left: calc(50% - 320px + -91px);
    width: 160px;
  }
}

@media screen and (max-width: 639px) {
  #rec109079107 .tn-elem[data-elem-id="1559858871550"] {
    top: 2927px;
    left: calc(50% - 240px + -83px);
    width: 150px;
  }
}

@media screen and (max-width: 479px) {
  #rec109079107 .tn-elem[data-elem-id="1559858871550"] {
    top: 2339px;
    left: calc(50% - 160px + -53px);
    width: 110px;
  }
}

#rec109079107 .tn-elem[data-elem-id="1559858877197"] {
  z-index: 6;
  top: 2903px;
  left: calc(50% - 600px + 456px);
  width: 300px;
}

#rec109079107 .tn-elem[data-elem-id="1559858877197"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width: 1199px) {
  #rec109079107 .tn-elem[data-elem-id="1559858877197"] {
    top: 2331px;
    left: calc(50% - 480px + 357px);
    width: 230px;
  }
}

@media screen and (max-width: 959px) {
  #rec109079107 .tn-elem[data-elem-id="1559858877197"] {
    top: 3146px;
    left: calc(50% - 320px + 235px);
    width: 160px;
  }
}

@media screen and (max-width: 639px) {
  #rec109079107 .tn-elem[data-elem-id="1559858877197"] {
    top: 2927px;
    left: calc(50% - 240px + 217px);
    width: 150px;
  }
}

@media screen and (max-width: 479px) {
  #rec109079107 .tn-elem[data-elem-id="1559858877197"] {
    top: 2339px;
    left: calc(50% - 160px + 167px);
    width: 110px;
  }
}

#rec109079107 .tn-elem[data-elem-id="1559858881007"] {
  z-index: 7;
  top: 2903px;
  left: calc(50% - 600px + 1076px);
  width: 300px;
}

#rec109079107 .tn-elem[data-elem-id="1559858881007"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width: 1199px) {
  #rec109079107 .tn-elem[data-elem-id="1559858881007"] {
    top: 2325px;
    left: calc(50% - 480px + 827px);
    width: 240px;
  }
}

@media screen and (max-width: 959px) {
  #rec109079107 .tn-elem[data-elem-id="1559858881007"] {
    top: 3146px;
    left: calc(50% - 320px + 555px);
    width: 160px;
  }
}

@media screen and (max-width: 639px) {
  #rec109079107 .tn-elem[data-elem-id="1559858881007"] {
    top: 2927px;
    left: calc(50% - 240px + 367px);
    width: 150px;
  }
}

@media screen and (max-width: 479px) {
  #rec109079107 .tn-elem[data-elem-id="1559858881007"] {
    top: 2339px;
    left: calc(50% - 160px + 277px);
    width: 110px;
  }
}

#rec109079107 .tn-elem[data-elem-id="1559858914389"] {
  z-index: 8;
  top: 3334px;
  left: calc(50% - 600px + 20px);
  width: 560px;
}

#rec109079107 .tn-elem[data-elem-id="1559858914389"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width: 1199px) {
  #rec109079107 .tn-elem[data-elem-id="1559858914389"] {
    top: 2695px;
    left: calc(50% - 480px + 10px);
    width: 480px;
  }
}

@media screen and (max-width: 959px) {
  #rec109079107 .tn-elem[data-elem-id="1559858914389"] {
    top: 3878px;
    left: calc(50% - 320px + 92px);
    width: 450px;
  }
}

@media screen and (max-width: 639px) {
  #rec109079107 .tn-elem[data-elem-id="1559858914389"] {
    top: 3608px;
    left: calc(50% - 240px + 12px);
    width: 410px;
  }
}

@media screen and (max-width: 479px) {
  #rec109079107 .tn-elem[data-elem-id="1559858914389"] {
    top: 2881px;
    left: calc(50% - 160px + 10px);
    width: 280px;
  }
}

#rec109079107 .tn-elem[data-elem-id="1559858964546"] {
  z-index: 9;
  top: 3606px;
  left: calc(50% - 600px + 437px);
  width: 250px;
}

#rec109079107 .tn-elem[data-elem-id="1559858964546"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width: 1199px) {
  #rec109079107 .tn-elem[data-elem-id="1559858964546"] {
    top: 2847px;
    left: calc(50% - 480px + 267px);
    width: 260px;
  }
}

@media screen and (max-width: 959px) {
  #rec109079107 .tn-elem[data-elem-id="1559858964546"] {
    top: 4016px;
    left: calc(50% - 320px + 349px);
    width: 240px;
  }
}

@media screen and (max-width: 639px) {
  #rec109079107 .tn-elem[data-elem-id="1559858964546"] {
    top: 3593px;
    left: calc(50% - 240px + 195px);
    width: 310px;
  }
}

@media screen and (max-width: 479px) {
  #rec109079107 .tn-elem[data-elem-id="1559858964546"] {
    top: 2896px;
    left: calc(50% - 160px + 147px);
    width: 180px;
  }
}

#rec109079107 .tn-elem[data-elem-id="1559859007561"] {
  z-index: 10;
  top: 4140px;
  left: calc(50% - 600px + -220px);
  width: 270px;
}

#rec109079107 .tn-elem[data-elem-id="1559859007561"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width: 1199px) {
  #rec109079107 .tn-elem[data-elem-id="1559859007561"] {
    top: 3407px;
    left: calc(50% - 480px + -170px);
  }
}

@media screen and (max-width: 959px) {
  #rec109079107 .tn-elem[data-elem-id="1559859007561"] {
    top: 4603px;
    left: calc(50% - 320px + -120px);
    width: 270px;
  }
}

@media screen and (max-width: 639px) {
  #rec109079107 .tn-elem[data-elem-id="1559859007561"] {
    top: 4233px;
    left: calc(50% - 240px + -112px);
    width: 240px;
  }
}

@media screen and (max-width: 479px) {
  #rec109079107 .tn-elem[data-elem-id="1559859007561"] {
    top: 3265px;
    left: calc(50% - 160px + -130px);
    width: 180px;
  }
}

#rec109079107 .tn-elem[data-elem-id="1559859026378"] {
  z-index: 11;
  top: 4140px;
  left: calc(50% - 600px + -70px);
  width: 270px;
}

#rec109079107 .tn-elem[data-elem-id="1559859026378"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width: 1199px) {
  #rec109079107 .tn-elem[data-elem-id="1559859026378"] {
    top: 3407px;
    left: calc(50% - 480px + -40px);
  }
}

@media screen and (max-width: 959px) {
  #rec109079107 .tn-elem[data-elem-id="1559859026378"] {
    top: 4603px;
    left: calc(50% - 320px + -10px);
    width: 270px;
  }
}

@media screen and (max-width: 639px) {
  #rec109079107 .tn-elem[data-elem-id="1559859026378"] {
    top: 4227px;
    left: calc(50% - 240px + -21px);
    width: 240px;
  }
}

@media screen and (max-width: 479px) {
  #rec109079107 .tn-elem[data-elem-id="1559859026378"] {
    top: 3265px;
    left: calc(50% - 160px + -70px);
    width: 180px;
  }
}

#rec109079107 .tn-elem[data-elem-id="1559859029034"] {
  z-index: 12;
  top: 4140px;
  left: calc(50% - 600px + 80px);
  width: 270px;
}

#rec109079107 .tn-elem[data-elem-id="1559859029034"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width: 1199px) {
  #rec109079107 .tn-elem[data-elem-id="1559859029034"] {
    top: 3407px;
    left: calc(50% - 480px + 90px);
  }
}

@media screen and (max-width: 959px) {
  #rec109079107 .tn-elem[data-elem-id="1559859029034"] {
    top: 4603px;
    left: calc(50% - 320px + 100px);
    width: 270px;
  }
}

@media screen and (max-width: 639px) {
  #rec109079107 .tn-elem[data-elem-id="1559859029034"] {
    top: 4227px;
    left: calc(50% - 240px + 59px);
    width: 240px;
  }
}

@media screen and (max-width: 479px) {
  #rec109079107 .tn-elem[data-elem-id="1559859029034"] {
    top: 3265px;
    left: calc(50% - 160px + 0px);
    width: 180px;
  }
}

#rec109079107 .tn-elem[data-elem-id="1559859031168"] {
  z-index: 13;
  top: 4140px;
  left: calc(50% - 600px + 240px);
  width: 270px;
}

#rec109079107 .tn-elem[data-elem-id="1559859031168"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width: 1199px) {
  #rec109079107 .tn-elem[data-elem-id="1559859031168"] {
    top: 3407px;
    left: calc(50% - 480px + 230px);
  }
}

@media screen and (max-width: 959px) {
  #rec109079107 .tn-elem[data-elem-id="1559859031168"] {
    top: 4603px;
    left: calc(50% - 320px + 200px);
    width: 270px;
  }
}

@media screen and (max-width: 639px) {
  #rec109079107 .tn-elem[data-elem-id="1559859031168"] {
    top: 4227px;
    left: calc(50% - 240px + 139px);
    width: 240px;
  }
}

@media screen and (max-width: 479px) {
  #rec109079107 .tn-elem[data-elem-id="1559859031168"] {
    top: 3265px;
    left: calc(50% - 160px + 70px);
    width: 180px;
  }
}

#rec109079107 .tn-elem[data-elem-id="1559859033718"] {
  z-index: 14;
  top: 4140px;
  left: calc(50% - 600px + 400px);
  width: 270px;
}

#rec109079107 .tn-elem[data-elem-id="1559859033718"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width: 1199px) {
  #rec109079107 .tn-elem[data-elem-id="1559859033718"] {
    top: 3407px;
    left: calc(50% - 480px + 380px);
  }
}

@media screen and (max-width: 959px) {
  #rec109079107 .tn-elem[data-elem-id="1559859033718"] {
    top: 4603px;
    left: calc(50% - 320px + 300px);
    width: 270px;
  }
}

@media screen and (max-width: 639px) {
  #rec109079107 .tn-elem[data-elem-id="1559859033718"] {
    top: 4227px;
    left: calc(50% - 240px + 219px);
    width: 240px;
  }
}

@media screen and (max-width: 479px) {
  #rec109079107 .tn-elem[data-elem-id="1559859033718"] {
    top: 3265px;
    left: calc(50% - 160px + 130px);
    width: 180px;
  }
}

#rec109079107 .tn-elem[data-elem-id="1559859036475"] {
  z-index: 15;
  top: 4140px;
  left: calc(50% - 600px + 560px);
  width: 270px;
}

#rec109079107 .tn-elem[data-elem-id="1559859036475"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width: 1199px) {
  #rec109079107 .tn-elem[data-elem-id="1559859036475"] {
    top: 3407px;
    left: calc(50% - 480px + 510px);
  }
}

@media screen and (max-width: 959px) {
  #rec109079107 .tn-elem[data-elem-id="1559859036475"] {
    top: 4603px;
    left: calc(50% - 320px + 410px);
    width: 270px;
  }
}

@media screen and (max-width: 639px) {
  #rec109079107 .tn-elem[data-elem-id="1559859036475"] {
    top: 4227px;
    left: calc(50% - 240px + 309px);
    width: 240px;
  }
}

@media screen and (max-width: 479px) {
  #rec109079107 .tn-elem[data-elem-id="1559859036475"] {
    top: 3265px;
    left: calc(50% - 160px + 190px);
    width: 180px;
  }
}

#rec109079107 .tn-elem[data-elem-id="1559859041252"] {
  z-index: 16;
  top: 4140px;
  left: calc(50% - 600px + 720px);
  width: 270px;
}

#rec109079107 .tn-elem[data-elem-id="1559859041252"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width: 1199px) {
  #rec109079107 .tn-elem[data-elem-id="1559859041252"] {
    top: 3407px;
    left: calc(50% - 480px + 640px);
  }
}

@media screen and (max-width: 959px) {
  #rec109079107 .tn-elem[data-elem-id="1559859041252"] {
    top: 4603px;
    left: calc(50% - 320px + 520px);
    width: 270px;
  }
}

@media screen and (max-width: 639px) {
  #rec109079107 .tn-elem[data-elem-id="1559859041252"] {
    top: 4227px;
    left: calc(50% - 240px + 389px);
    width: 240px;
  }
}

@media screen and (max-width: 479px) {
  #rec109079107 .tn-elem[data-elem-id="1559859041252"] {
    top: 3265px;
    left: calc(50% - 160px + 260px);
    width: 180px;
  }
}

#rec109079107 .tn-elem[data-elem-id="1559859055684"] {
  z-index: 17;
  top: 40px;
  left: calc(50% - 600px + -80px);
  width: 160px;
}

#rec109079107 .tn-elem[data-elem-id="1559859055684"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width: 1199px) {
  #rec109079107 .tn-elem[data-elem-id="1559859055684"] {
    top: 40px;
    left: calc(50% - 480px + 20px);
  }
}

@media screen and (max-width: 959px) {
  #rec109079107 .tn-elem[data-elem-id="1559859055684"] {
    top: 40px;
    left: calc(50% - 320px + 20px);
    width: 130px;
  }
}

@media screen and (max-width: 639px) {
  #rec109079107 .tn-elem[data-elem-id="1559859055684"] {
    top: 30px;
    left: calc(50% - 240px + 20px);
    width: 90px;
  }
}

@media screen and (max-width: 479px) {
  #rec109079107 .tn-elem[data-elem-id="1559859055684"] {
    top: 30px;
    left: calc(50% - 160px + 20px);
    width: 80px;
  }
}

#rec109079107 .tn-elem[data-elem-id="1559859086422"] {
  color: #000000;
  z-index: 18;
  top: 244px;
  left: calc(50% - 600px + 15px);
  width: 600px;
}

#rec109079107 .tn-elem[data-elem-id="1559859086422"] .tn-atom {
  color: #000000;
  font-size: 80px;
  font-family: 'Roboto';
  line-height: 1.05;
  font-weight: 700;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width: 1199px) {
  #rec109079107 .tn-elem[data-elem-id="1559859086422"] {
    top: 214px;
    left: calc(50% - 480px + 10px);
    width: 590px;
  }

  #rec109079107 .tn-elem[data-elem-id="1559859086422"] .tn-atom {
    font-size: 67px;
  }
}

@media screen and (max-width: 959px) {
  #rec109079107 .tn-elem[data-elem-id="1559859086422"] {
    top: 144px;
    left: calc(50% - 320px + 90px);
    width: 520px;
  }

  #rec109079107 .tn-elem[data-elem-id="1559859086422"] .tn-atom {
    font-size: 59px;
    line-height: 1;
  }
}

@media screen and (max-width: 639px) {
  #rec109079107 .tn-elem[data-elem-id="1559859086422"] {
    top: 124px;
    left: calc(50% - 240px + 80px);
    width: 390px;
  }

  #rec109079107 .tn-elem[data-elem-id="1559859086422"] .tn-atom {
    font-size: 50px;
  }
}

@media screen and (max-width: 479px) {
  #rec109079107 .tn-elem[data-elem-id="1559859086422"] {
    top: 94px;
    left: calc(50% - 160px + 10px);
  }

  #rec109079107 .tn-elem[data-elem-id="1559859086422"] .tn-atom {
    font-size: 41px;
  }
}

#rec109079107 .tn-elem[data-elem-id="1559859286622"] {
  z-index: 21;
  top: 1422px;
  left: calc(50% - 600px + 952px);
  width: 60px;
}

#rec109079107 .tn-elem[data-elem-id="1559859286622"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width: 1199px) {
  #rec109079107 .tn-elem[data-elem-id="1559859286622"] {
    top: 1162px;
    left: calc(50% - 480px + 719px);
  }
}

@media screen and (max-width: 959px) {
  #rec109079107 .tn-elem[data-elem-id="1559859286622"] {
    top: 1236px;
    left: calc(50% - 320px + 263px);
  }
}

@media screen and (max-width: 639px) {
  #rec109079107 .tn-elem[data-elem-id="1559859286622"] {
    top: 1081px;
    left: calc(50% - 240px + 222px);
  }
}

@media screen and (max-width: 479px) {
  #rec109079107 .tn-elem[data-elem-id="1559859286622"] {
    top: 946px;
    left: calc(50% - 160px + 179px);
  }
}

#rec109079107 .tn-elem[data-elem-id="1559859338417"] {
  z-index: 23;
  top: 2600px;
  left: calc(50% - 600px + 945px);
  width: 60px;
}

#rec109079107 .tn-elem[data-elem-id="1559859338417"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width: 1199px) {
  #rec109079107 .tn-elem[data-elem-id="1559859338417"] {
    top: 2163px;
    left: calc(50% - 480px + 723px);
  }
}

@media screen and (max-width: 959px) {
  #rec109079107 .tn-elem[data-elem-id="1559859338417"] {
    top: 2503px;
    left: calc(50% - 320px + 264px);
  }
}

@media screen and (max-width: 639px) {
  #rec109079107 .tn-elem[data-elem-id="1559859338417"] {
    top: 2285px;
    left: calc(50% - 240px + 223px);
  }
}

@media screen and (max-width: 479px) {
  #rec109079107 .tn-elem[data-elem-id="1559859338417"] {
    top: 1931px;
    left: calc(50% - 160px + 185px);
  }
}

#rec109079107 .tn-elem[data-elem-id="1559859349264"] {
  z-index: 22;
  top: 3780px;
  left: calc(50% - 600px + 963px);
  width: 60px;
}

#rec109079107 .tn-elem[data-elem-id="1559859349264"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width: 1199px) {
  #rec109079107 .tn-elem[data-elem-id="1559859349264"] {
    top: 3128px;
    left: calc(50% - 480px + 726px);
  }
}

@media screen and (max-width: 959px) {
  #rec109079107 .tn-elem[data-elem-id="1559859349264"] {
    top: 3804px;
    left: calc(50% - 320px + 266px);
  }
}

@media screen and (max-width: 639px) {
  #rec109079107 .tn-elem[data-elem-id="1559859349264"] {
    top: 3536px;
    left: calc(50% - 240px + 223px);
  }
}

@media screen and (max-width: 479px) {
  #rec109079107 .tn-elem[data-elem-id="1559859349264"] {
    top: 2823px;
    left: calc(50% - 160px + 184px);
  }
}

#rec109079107 .tn-elem[data-elem-id="1559859409645"] {
  color: #000000;
  z-index: 26;
  top: 1419px;
  left: calc(50% - 600px + 781px);
  width: 560px;
}

#rec109079107 .tn-elem[data-elem-id="1559859409645"] .tn-atom {
  color: #000000;
  font-size: 16px;
  font-family: 'Roboto';
  line-height: 1.55;
  font-weight: 700;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width: 1199px) {
  #rec109079107 .tn-elem[data-elem-id="1559859409645"] {
    top: 1160px;
    left: calc(50% - 480px + 548px);
  }
}

@media screen and (max-width: 959px) {
  #rec109079107 .tn-elem[data-elem-id="1559859409645"] {
    top: 1233px;
    left: calc(50% - 320px + 92px);
  }
}

@media screen and (max-width: 639px) {
  #rec109079107 .tn-elem[data-elem-id="1559859409645"] {
    top: 1078px;
    left: calc(50% - 240px + 51px);
  }
}

@media screen and (max-width: 479px) {
  #rec109079107 .tn-elem[data-elem-id="1559859409645"] {
    top: 943px;
    left: calc(50% - 160px + 8px);
  }
}

#rec109079107 .tn-elem[data-elem-id="1559859422821"] {
  color: #000000;
  z-index: 27;
  top: 998px;
  left: calc(50% - 600px + 780px);
  width: 410px;
}

#rec109079107 .tn-elem[data-elem-id="1559859422821"] .tn-atom {
  color: #000000;
  font-size: 45px;
  font-family: 'Roboto';
  line-height: 1.15;
  font-weight: 700;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width: 1199px) {
  #rec109079107 .tn-elem[data-elem-id="1559859422821"] {
    top: 758px;
    left: calc(50% - 480px + 546px);
  }

  #rec109079107 .tn-elem[data-elem-id="1559859422821"] .tn-atom {
    font-size: 38px;
    line-height: 1.1;
  }
}

@media screen and (max-width: 959px) {
  #rec109079107 .tn-elem[data-elem-id="1559859422821"] {
    top: 842px;
    left: calc(50% - 320px + 90px);
  }
}

@media screen and (max-width: 639px) {
  #rec109079107 .tn-elem[data-elem-id="1559859422821"] {
    top: 697px;
    left: calc(50% - 240px + 49px);
  }
}

@media screen and (max-width: 479px) {
  #rec109079107 .tn-elem[data-elem-id="1559859422821"] {
    top: 552px;
    left: calc(50% - 160px + 6px);
    width: 350px;
  }

  #rec109079107 .tn-elem[data-elem-id="1559859422821"] .tn-atom {
    font-size: 33px;
    line-height: 1.1;
  }
}

#rec109079107 .tn-elem[data-elem-id="1559859482733"] {
  color: #000000;
  z-index: 28;
  top: 2200px;
  left: calc(50% - 600px + 777px);
  width: 370px;
}

#rec109079107 .tn-elem[data-elem-id="1559859482733"] .tn-atom {
  color: #000000;
  font-size: 45px;
  font-family: 'Roboto';
  line-height: 1.15;
  font-weight: 700;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width: 1199px) {
  #rec109079107 .tn-elem[data-elem-id="1559859482733"] {
    top: 1763px;
    left: calc(50% - 480px + 550px);
  }

  #rec109079107 .tn-elem[data-elem-id="1559859482733"] .tn-atom {
    font-size: 38px;
    line-height: 1.1;
  }
}

@media screen and (max-width: 959px) {
  #rec109079107 .tn-elem[data-elem-id="1559859482733"] {
    top: 2123px;
    left: calc(50% - 320px + 91px);
  }
}

@media screen and (max-width: 639px) {
  #rec109079107 .tn-elem[data-elem-id="1559859482733"] {
    top: 1925px;
    left: calc(50% - 240px + 50px);
    width: 290px;
  }
}

@media screen and (max-width: 479px) {
  #rec109079107 .tn-elem[data-elem-id="1559859482733"] {
    top: 1556px;
    left: calc(50% - 160px + 12px);
    width: 250px;
  }

  #rec109079107 .tn-elem[data-elem-id="1559859482733"] .tn-atom {
    font-size: 33px;
  }
}

#rec109079107 .tn-elem[data-elem-id="1559859563519"] {
  color: #000000;
  z-index: 30;
  top: 3542px;
  left: calc(50% - 600px + 781px);
  width: 340px;
}

#rec109079107 .tn-elem[data-elem-id="1559859563519"] .tn-atom {
  color: #000000;
  font-size: 16px;
  font-family: 'Roboto';
  line-height: 1.65;
  font-weight: 500;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width: 1199px) {
  #rec109079107 .tn-elem[data-elem-id="1559859563519"] {
    top: 2870px;
    left: calc(50% - 480px + 551px);
  }
}

@media screen and (max-width: 959px) {
  #rec109079107 .tn-elem[data-elem-id="1559859563519"] {
    top: 3556px;
    left: calc(50% - 320px + 91px);
  }
}

@media screen and (max-width: 639px) {
  #rec109079107 .tn-elem[data-elem-id="1559859563519"] {
    top: 3288px;
    left: calc(50% - 240px + 48px);
  }
}

@media screen and (max-width: 479px) {
  #rec109079107 .tn-elem[data-elem-id="1559859563519"] {
    top: 2622px;
    left: calc(50% - 160px + 7px);
    width: 310px;
  }
}

#rec109079107 .tn-elem[data-elem-id="1559859637607"] {
  color: #000000;
  z-index: 31;
  top: 2396px;
  left: calc(50% - 600px + 779px);
  width: 340px;
}

#rec109079107 .tn-elem[data-elem-id="1559859637607"] .tn-atom {
  color: #000000;
  font-size: 16px;
  font-family: 'Roboto';
  line-height: 1.65;
  font-weight: 500;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width: 1199px) {
  #rec109079107 .tn-elem[data-elem-id="1559859637607"] {
    top: 1919px;
    left: calc(50% - 480px + 552px);
  }
}

@media screen and (max-width: 959px) {
  #rec109079107 .tn-elem[data-elem-id="1559859637607"] {
    top: 2279px;
    left: calc(50% - 320px + 93px);
  }
}

@media screen and (max-width: 639px) {
  #rec109079107 .tn-elem[data-elem-id="1559859637607"] {
    top: 2081px;
    left: calc(50% - 240px + 52px);
  }
}

@media screen and (max-width: 479px) {
  #rec109079107 .tn-elem[data-elem-id="1559859637607"] {
    top: 1693px;
    left: calc(50% - 160px + 14px);
    width: 290px;
  }
}

#rec109079107 .tn-elem[data-elem-id="1559859674601"] {
  color: #000000;
  z-index: 32;
  top: 1193px;
  left: calc(50% - 600px + 781px);
  width: 360px;
}

#rec109079107 .tn-elem[data-elem-id="1559859674601"] .tn-atom {
  color: #000000;
  font-size: 16px;
  font-family: 'Roboto';
  line-height: 1.65;
  font-weight: 500;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width: 1199px) {
  #rec109079107 .tn-elem[data-elem-id="1559859674601"] {
    top: 923px;
    left: calc(50% - 480px + 548px);
  }
}

@media screen and (max-width: 959px) {
  #rec109079107 .tn-elem[data-elem-id="1559859674601"] {
    top: 1007px;
    left: calc(50% - 320px + 92px);
  }
}

@media screen and (max-width: 639px) {
  #rec109079107 .tn-elem[data-elem-id="1559859674601"] {
    top: 862px;
    left: calc(50% - 240px + 51px);
  }
}

@media screen and (max-width: 479px) {
  #rec109079107 .tn-elem[data-elem-id="1559859674601"] {
    top: 687px;
    left: calc(50% - 160px + 8px);
    width: 300px;
  }
}

#rec109079107 .tn-elem[data-elem-id="1559859845830"] {
  z-index: 33;
  top: 1694px;
  left: calc(50% - 600px + 1144px);
  width: 220px;
}

#rec109079107 .tn-elem[data-elem-id="1559859845830"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width: 1199px) {
  #rec109079107 .tn-elem[data-elem-id="1559859845830"] {
    top: 1319px;
    left: calc(50% - 480px + -66px);
    width: 190px;
  }
}

@media screen and (max-width: 959px) {
  #rec109079107 .tn-elem[data-elem-id="1559859845830"] {
    top: 1859px;
    left: calc(50% - 320px + -116px);
    width: 140px;
  }
}

@media screen and (max-width: 639px) {
  #rec109079107 .tn-elem[data-elem-id="1559859845830"] {
    top: 1691px;
    left: calc(50% - 240px + -154px);
    width: 130px;
  }
}

@media screen and (max-width: 479px) {
  #rec109079107 .tn-elem[data-elem-id="1559859845830"] {
    top: 1349px;
    left: calc(50% - 160px + -76px);
    width: 110px;
  }
}

#rec109079107 .tn-elem[data-elem-id="1559859985027"] {
  z-index: 34;
  top: 1694px;
  left: calc(50% - 600px + 959px);
  width: 220px;
}

#rec109079107 .tn-elem[data-elem-id="1559859985027"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width: 1199px) {
  #rec109079107 .tn-elem[data-elem-id="1559859985027"] {
    top: 1319px;
    left: calc(50% - 480px + 84px);
    width: 190px;
  }
}

@media screen and (max-width: 959px) {
  #rec109079107 .tn-elem[data-elem-id="1559859985027"] {
    top: 1859px;
    left: calc(50% - 320px + -6px);
    width: 140px;
  }
}

@media screen and (max-width: 639px) {
  #rec109079107 .tn-elem[data-elem-id="1559859985027"] {
    top: 1692px;
    left: calc(50% - 240px + -50px);
    width: 130px;
  }
}

@media screen and (max-width: 479px) {
  #rec109079107 .tn-elem[data-elem-id="1559859985027"] {
    top: 1349px;
    left: calc(50% - 160px + 14px);
    width: 110px;
  }
}

#rec109079107 .tn-elem[data-elem-id="1559859991998"] {
  z-index: 35;
  top: 1694px;
  left: calc(50% - 600px + 774px);
  width: 220px;
}

#rec109079107 .tn-elem[data-elem-id="1559859991998"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width: 1199px) {
  #rec109079107 .tn-elem[data-elem-id="1559859991998"] {
    top: 1319px;
    left: calc(50% - 480px + 234px);
    width: 190px;
  }
}

@media screen and (max-width: 959px) {
  #rec109079107 .tn-elem[data-elem-id="1559859991998"] {
    top: 1859px;
    left: calc(50% - 320px + 104px);
    width: 140px;
  }
}

@media screen and (max-width: 639px) {
  #rec109079107 .tn-elem[data-elem-id="1559859991998"] {
    top: 1691px;
    left: calc(50% - 240px + 50px);
    width: 130px;
  }
}

@media screen and (max-width: 479px) {
  #rec109079107 .tn-elem[data-elem-id="1559859991998"] {
    top: 1349px;
    left: calc(50% - 160px + 104px);
    width: 110px;
  }
}

#rec109079107 .tn-elem[data-elem-id="1559859994600"] {
  z-index: 36;
  top: 1694px;
  left: calc(50% - 600px + 584px);
  width: 220px;
}

#rec109079107 .tn-elem[data-elem-id="1559859994600"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width: 1199px) {
  #rec109079107 .tn-elem[data-elem-id="1559859994600"] {
    top: 1319px;
    left: calc(50% - 480px + 384px);
    width: 190px;
  }
}

@media screen and (max-width: 959px) {
  #rec109079107 .tn-elem[data-elem-id="1559859994600"] {
    top: 1859px;
    left: calc(50% - 320px + 214px);
    width: 140px;
  }
}

@media screen and (max-width: 639px) {
  #rec109079107 .tn-elem[data-elem-id="1559859994600"] {
    top: 1692px;
    left: calc(50% - 240px + 153px);
    width: 130px;
  }
}

@media screen and (max-width: 479px) {
  #rec109079107 .tn-elem[data-elem-id="1559859994600"] {
    top: 1349px;
    left: calc(50% - 160px + 194px);
    width: 110px;
  }
}

#rec109079107 .tn-elem[data-elem-id="1559860003249"] {
  z-index: 37;
  top: 1696px;
  left: calc(50% - 600px + 401px);
  width: 220px;
}

#rec109079107 .tn-elem[data-elem-id="1559860003249"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width: 1199px) {
  #rec109079107 .tn-elem[data-elem-id="1559860003249"] {
    top: 1321px;
    left: calc(50% - 480px + 534px);
    width: 190px;
  }
}

@media screen and (max-width: 959px) {
  #rec109079107 .tn-elem[data-elem-id="1559860003249"] {
    top: 1861px;
    left: calc(50% - 320px + 324px);
    width: 140px;
  }
}

@media screen and (max-width: 639px) {
  #rec109079107 .tn-elem[data-elem-id="1559860003249"] {
    top: 1693px;
    left: calc(50% - 240px + 256px);
    width: 130px;
  }
}

@media screen and (max-width: 479px) {
  #rec109079107 .tn-elem[data-elem-id="1559860003249"] {
    top: 1350px;
    left: calc(50% - 160px + 284px);
    width: 110px;
  }
}

#rec109079107 .tn-elem[data-elem-id="1559860005998"] {
  z-index: 38;
  top: 1695px;
  left: calc(50% - 600px + 214px);
  width: 220px;
}

#rec109079107 .tn-elem[data-elem-id="1559860005998"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width: 1199px) {
  #rec109079107 .tn-elem[data-elem-id="1559860005998"] {
    top: 1320px;
    left: calc(50% - 480px + 994px);
    width: 200px;
  }
}

@media screen and (max-width: 959px) {
  #rec109079107 .tn-elem[data-elem-id="1559860005998"] {
    top: 1867px;
    left: calc(50% - 320px + 435px);
    width: 130px;
  }
}

@media screen and (max-width: 639px) {
  #rec109079107 .tn-elem[data-elem-id="1559860005998"] {
    top: 1692px;
    left: calc(50% - 240px + 360px);
    width: 130px;
  }
}

@media screen and (max-width: 479px) {
  #rec109079107 .tn-elem[data-elem-id="1559860005998"] {
    top: 1350px;
    left: calc(50% - 160px + 374px);
    width: 110px;
  }
}

#rec109079107 .tn-elem[data-elem-id="1559859528621"] {
  color: #000000;
  z-index: 29;
  top: 3393px;
  left: calc(50% - 600px + 779px);
  width: 330px;
}

#rec109079107 .tn-elem[data-elem-id="1559859528621"] .tn-atom {
  color: #000000;
  font-size: 45px;
  font-family: 'Roboto';
  line-height: 1.15;
  font-weight: 700;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width: 1199px) {
  #rec109079107 .tn-elem[data-elem-id="1559859528621"] {
    top: 2741px;
    left: calc(50% - 480px + 555px);
    width: 280px;
  }

  #rec109079107 .tn-elem[data-elem-id="1559859528621"] .tn-atom {
    font-size: 38px;
    line-height: 1.1;
  }
}

@media screen and (max-width: 959px) {
  #rec109079107 .tn-elem[data-elem-id="1559859528621"] {
    top: 3437px;
    left: calc(50% - 320px + 91px);
  }
}

@media screen and (max-width: 639px) {
  #rec109079107 .tn-elem[data-elem-id="1559859528621"] {
    top: 3169px;
    left: calc(50% - 240px + 52px);
  }
}

@media screen and (max-width: 479px) {
  #rec109079107 .tn-elem[data-elem-id="1559859528621"] {
    top: 2521px;
    left: calc(50% - 160px + 13px);
    width: 240px;
  }

  #rec109079107 .tn-elem[data-elem-id="1559859528621"] .tn-atom {
    font-size: 33px;
  }
}

#rec109079107 .tn-elem[data-elem-id="1559864825449"] {
  z-index: 39;
  top: 1696px;
  left: calc(50% - 600px + 21px);
  width: 220px;
}

#rec109079107 .tn-elem[data-elem-id="1559864825449"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width: 1199px) {
  #rec109079107 .tn-elem[data-elem-id="1559864825449"] {
    top: 1321px;
    left: calc(50% - 480px + 684px);
    width: 190px;
  }
}

@media screen and (max-width: 959px) {
  #rec109079107 .tn-elem[data-elem-id="1559864825449"] {
    top: 1862px;
    left: calc(50% - 320px + 537px);
    width: 140px;
  }
}

@media screen and (max-width: 639px) {
  #rec109079107 .tn-elem[data-elem-id="1559864825449"] {
    top: 1693px;
    left: calc(50% - 240px + 466px);
    width: 130px;
  }
}

@media screen and (max-width: 479px) {
  #rec109079107 .tn-elem[data-elem-id="1559864825449"] {
    top: 1350px;
    left: calc(50% - 160px + 544px);
    width: 110px;
  }
}

#rec109079107 .tn-elem[data-elem-id="1559864828366"] {
  z-index: 40;
  top: 1696px;
  left: calc(50% - 600px + -169px);
  width: 220px;
}

#rec109079107 .tn-elem[data-elem-id="1559864828366"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width: 1199px) {
  #rec109079107 .tn-elem[data-elem-id="1559864828366"] {
    top: 1321px;
    left: calc(50% - 480px + 834px);
    width: 190px;
  }
}

@media screen and (max-width: 959px) {
  #rec109079107 .tn-elem[data-elem-id="1559864828366"] {
    top: 1863px;
    left: calc(50% - 320px + 648px);
    width: 140px;
  }
}

@media screen and (max-width: 639px) {
  #rec109079107 .tn-elem[data-elem-id="1559864828366"] {
    top: 1693px;
    left: calc(50% - 240px + 576px);
    width: 130px;
  }
}

@media screen and (max-width: 479px) {
  #rec109079107 .tn-elem[data-elem-id="1559864828366"] {
    top: 1350px;
    left: calc(50% - 160px + 464px);
    width: 110px;
  }
}

#rec109079107 .tn-elem[data-elem-id="1559865049645"] {
  z-index: 41;
  top: 2903px;
  left: calc(50% - 600px + 766px);
  width: 300px;
}

#rec109079107 .tn-elem[data-elem-id="1559865049645"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width: 1199px) {
  #rec109079107 .tn-elem[data-elem-id="1559865049645"] {
    top: 2325px;
    left: calc(50% - 480px + 587px);
    width: 240px;
  }
}

@media screen and (max-width: 959px) {
  #rec109079107 .tn-elem[data-elem-id="1559865049645"] {
    top: 3146px;
    left: calc(50% - 320px + 395px);
    width: 160px;
  }
}

@media screen and (max-width: 639px) {
  #rec109079107 .tn-elem[data-elem-id="1559865049645"] {
    top: 2927px;
    left: calc(50% - 240px + 367px);
    width: 150px;
  }
}

@media screen and (max-width: 479px) {
  #rec109079107 .tn-elem[data-elem-id="1559865049645"] {
    top: 2339px;
    left: calc(50% - 160px + 277px);
    width: 110px;
  }
}

#rec109079107 .tn-elem[data-elem-id="1559865259356"] {
  z-index: 43;
  top: 4140px;
  left: calc(50% - 600px + 880px);
  width: 270px;
}

#rec109079107 .tn-elem[data-elem-id="1559865259356"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width: 1199px) {
  #rec109079107 .tn-elem[data-elem-id="1559865259356"] {
    top: 3407px;
    left: calc(50% - 480px + 770px);
  }
}

@media screen and (max-width: 959px) {
  #rec109079107 .tn-elem[data-elem-id="1559865259356"] {
    top: 4603px;
    left: calc(50% - 320px + 520px);
    width: 270px;
  }
}

@media screen and (max-width: 639px) {
  #rec109079107 .tn-elem[data-elem-id="1559865259356"] {
    top: 4227px;
    left: calc(50% - 240px + 389px);
    width: 240px;
  }
}

@media screen and (max-width: 479px) {
  #rec109079107 .tn-elem[data-elem-id="1559865259356"] {
    top: 3265px;
    left: calc(50% - 160px + 260px);
    width: 180px;
  }
}

#rec109079107 .tn-elem[data-elem-id="1559865261082"] {
  z-index: 44;
  top: 4143px;
  left: calc(50% - 600px + 1039px);
  width: 270px;
}

#rec109079107 .tn-elem[data-elem-id="1559865261082"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width: 1199px) {
  #rec109079107 .tn-elem[data-elem-id="1559865261082"] {
    top: 3407px;
    left: calc(50% - 480px + 910px);
  }
}

@media screen and (max-width: 959px) {
  #rec109079107 .tn-elem[data-elem-id="1559865261082"] {
    top: 4603px;
    left: calc(50% - 320px + 520px);
    width: 270px;
  }
}

@media screen and (max-width: 639px) {
  #rec109079107 .tn-elem[data-elem-id="1559865261082"] {
    top: 4227px;
    left: calc(50% - 240px + 389px);
    width: 240px;
  }
}

@media screen and (max-width: 479px) {
  #rec109079107 .tn-elem[data-elem-id="1559865261082"] {
    top: 3265px;
    left: calc(50% - 160px + 260px);
    width: 180px;
  }
}

#rec109079107 .tn-elem[data-elem-id="1559865263126"] {
  z-index: 45;
  top: 4140px;
  left: calc(50% - 600px + 1190px);
  width: 270px;
}

#rec109079107 .tn-elem[data-elem-id="1559865263126"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width: 1199px) {
  #rec109079107 .tn-elem[data-elem-id="1559865263126"] {
    top: 3407px;
    left: calc(50% - 480px + 1030px);
  }
}

@media screen and (max-width: 959px) {
  #rec109079107 .tn-elem[data-elem-id="1559865263126"] {
    top: 4603px;
    left: calc(50% - 320px + 520px);
    width: 270px;
  }
}

@media screen and (max-width: 639px) {
  #rec109079107 .tn-elem[data-elem-id="1559865263126"] {
    top: 4227px;
    left: calc(50% - 240px + 389px);
    width: 240px;
  }
}

@media screen and (max-width: 479px) {
  #rec109079107 .tn-elem[data-elem-id="1559865263126"] {
    top: 3265px;
    left: calc(50% - 160px + 260px);
    width: 180px;
  }
}

#rec109079107 .tn-elem[data-elem-id="1559865771601"] {
  color: #000000;
  z-index: 46;
  top: 2598px;
  left: calc(50% - 600px + 781px);
  width: 560px;
}

#rec109079107 .tn-elem[data-elem-id="1559865771601"] .tn-atom {
  color: #000000;
  font-size: 16px;
  font-family: 'Roboto';
  line-height: 1.55;
  font-weight: 700;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width: 1199px) {
  #rec109079107 .tn-elem[data-elem-id="1559865771601"] {
    top: 3125px;
    left: calc(50% - 480px + 549px);
  }
}

@media screen and (max-width: 959px) {
  #rec109079107 .tn-elem[data-elem-id="1559865771601"] {
    top: 3802px;
    left: calc(50% - 320px + 92px);
  }
}

@media screen and (max-width: 639px) {
  #rec109079107 .tn-elem[data-elem-id="1559865771601"] {
    top: 3534px;
    left: calc(50% - 240px + 51px);
  }
}

@media screen and (max-width: 479px) {
  #rec109079107 .tn-elem[data-elem-id="1559865771601"] {
    top: 1929px;
    left: calc(50% - 160px + 11px);
  }
}

#rec109079107 .tn-elem[data-elem-id="1559865778897"] {
  color: #000000;
  z-index: 47;
  top: 3776px;
  left: calc(50% - 600px + 781px);
  width: 560px;
}

#rec109079107 .tn-elem[data-elem-id="1559865778897"] .tn-atom {
  color: #000000;
  font-size: 16px;
  font-family: 'Roboto';
  line-height: 1.55;
  font-weight: 700;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

@media screen and (max-width: 1199px) {
  #rec109079107 .tn-elem[data-elem-id="1559865778897"] {
    top: 2160px;
    left: calc(50% - 480px + 549px);
  }
}

@media screen and (max-width: 959px) {
  #rec109079107 .tn-elem[data-elem-id="1559865778897"] {
    top: 2500px;
    left: calc(50% - 320px + 92px);
  }
}

@media screen and (max-width: 639px) {
  #rec109079107 .tn-elem[data-elem-id="1559865778897"] {
    top: 2282px;
    left: calc(50% - 240px + 51px);
  }
}

@media screen and (max-width: 479px) {
  #rec109079107 .tn-elem[data-elem-id="1559865778897"] {
    top: 2820px;
    left: calc(50% - 160px + 11px);
  }
}

</style>